* {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

header {
  background-color: #404041;
  width: 100%;
}

header h1 {
  color: #e6e7e8;
  font-size: 35px;
  font-weight: 300;
  padding: 2%;
  text-align: center;
}

header h1 strong {
  color: #ed458b;
  font-weight: 700;
}

.top-buttons {
 margin-bottom: -3%;
 text-align: center;
}

.user-guess {
  display: block;
  margin: 5% auto 0%;
  margin-top: 5%;
  width: 50%;
  font-size: 18px;
}

.guess-button {
  background-color: #929497;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  margin: 5% auto;
  width: 25%;
}

.guess-button:hover {
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  background-color: #eb008b;
  font-size: 18px;
  font-weight: 300;
  margin: 5% auto;
  width: 25%;
}

.guess-button:disabled {
  background-color: #d0d2d3;
}

.clear-button {
  background-color: #929497;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  margin: 5% auto;
  width: 25%;
}

.clear-button:hover {
  background-color: #eb008b;
}

.clear-button:disabled {
  background-color: #d0d2d3;
}

.top-reply {
  color: #404041;
  font-weight: 300;
  margin-bottom: 5%;
  text-align: center;
}

.number-guessed {
  color: #eb008b;
  font-size: 130px;
  font-weight: 300;
  margin-top: -5%;
  margin-bottom: -5%;
  text-align: center;
}

.bottom-reply {
  font-weight: 300;
  margin-top: 5%;
  text-align: center;
}

.input-reset {
  background-color: #929497;
  border-radius: 30px;
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin: 5% auto;
  width: 50%;
}

.input-reset:hover {
  background-color: #eb008b;
}